//font-family
$ff-roboto: "Roboto", "Verdana", sans-serif;
$ff-playfair: "Playfair Display", "Georgia", serif;

//palette
$pig-pink: #ffdbe8;
$brilliant-rose: #ff5ca1;
$shocking: #f892bb;
$classic-rose: #f5c6d7;

//vp
$mobile: 800px;
